
{% extends 'psw/layout.html' %}

{% block title %}Moje serwery{% endblock %}

{% block content %} 

<div class="hero-unit">

 <h2>Serwery  </h2>
<table class="table" >
<tr>
    <td>Nazwa</td>
    <td>Adres IP</td>
    <td>System operacyjny</td>
    <td>Ilość pamięci RAM</td>
    <td>Przestrzeń dyskowa</td>
    <td>Baza SQL </td>
    <td>Wersja PHP</td>
    <td>Serwer WWW</td>
</tr>
{% for entry in servers %}
<tr>
<td> {{ entry.name }} </td>
<td> {{ entry.ip }} </td>
<td> {{ entry.system }} </td>
<td> {{ entry.ram }} MB </td>
<td> {{ entry.quote}} GB </td>
<td> {{ entry.services.sql }}</td>
<td> {{ entry.services.php }}</td>
<td> {{ entry.services.http }}</td>
</tr>

{% endfor  %}
</table>
</div>
{% endblock %}